.active {
	display: block;
}

.header {
	position: relative;
	z-index: 1;
	margin-bottom: 68px;

	// Hamburger Open Styles - turns it into an X
	&.open {
		.header__toggle {
			> span:first-child {
				transform: rotate(45deg);
			}

			> span:nth-child(2) {
				opacity: 0;
			}

			> span:last-child {
				transform: rotate(-45deg);
			}
		}
	}

	nav {
		position: relative;
		color: #fff;
		padding-top: 1.3rem;
		padding-bottom: 1.0625rem;
	}

	&__logo {
		h1 {
			font-size: 2.5rem;
		}
	}

	&__toggle {
		// Mobile Menu Toggle

		> span {
			display: block;
			width: 26px;
			height: 2px;
			background-color: #fff;
			transition: all 300ms ease-in-out;
			transform-origin: 3px 1px;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	&__menu {
		position: absolute;
		width: calc(100% - 3rem);
		left: 50%;
		top: 65%;
		transform: translateX(-50%);
		background: #fff;
		margin-top: 1.5rem;
		padding: 1.625rem;
		border-radius: 5px;

		.menu {
			padding: 0;
		}

		a:not(.btn) {
			display: block;
			padding: 0.625rem;
			color: $Very-dark-blue-headings;
			text-align: center;
		}

		.header__cta--login {
			font-weight: 700;
		}

		.header__cta--signup {
			font-weight: 700;
			padding: 12px 38px;
			margin-top: 10px;
		}
	}

	&__links {
		.header__cta--login {
			font-size: 1.2rem;
		}

		.header__cta--signup {
			font-size: 1.2rem;
		}

		a:not(.btn) {
			position: relative;
			// font-size: $font-sm;
			color: #fff;
			transition: color 300ms ease-in-out;
			font-size: 1rem;

			&:not(:last-child) {
				margin-right: 32px;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				height: 5px;
				left: 0;
				right: 0;
				bottom: -30px;
				// background: linear-gradient(to right, $limeGreen, $brightCyan);
				opacity: 0;
				transition: opacity 300ms ease-in-out;
			}
			// &:hover {
			// 	// color: $darkBlue;

			// 	&::before {
			// 		opacity: 1;
			// 	}
			// }
		}
	}

	.menu-item {
		list-style: none;
		.dropdown-toggle:hover {
			text-decoration: underline;
		}
	}

	.dropdown-menu.show {
		/* in large screens, take it out of the flow of the page so it overlaps content below it and doesn't affect elements around it */
		position: absolute;
		display: block;
		z-index: 1;
		background-color: white;
		width: 165px;
		padding-left: 0;
		padding-top: 22px;
		padding-bottom: 29px;
		margin-top: 19px;
		border-radius: 5px;

		a {
			color: $Very-dark-blue-headings;
		}
	}

	// .dropdown-toggle::after {
	// 	display: inline-block;
	// 	content: '';
	// 	margin-left: 0.255em;
	// 	vertical-align: 0.255em;
	// 	border-top: 0.3em solid;
	// 	border-bottom: 0;
	// 	border-right: 0.3em solid transparent;
	// 	border-left: 0.3em solid transparent;
	// }

	svg.rotate {
		transform: rotate(180deg);
	}

	.dropdown-toggle {
		svg {
			// keep the click event on the anchor element
			// https://css-tricks.com/links-inline-svg-staying-target-events/
			pointer-events: none;
			transition: transform 0.1s ease-in-out;
		}
	}

	.dropdown-menu {
		display: none;
		position: absolute;

		li {
			list-style: none;
			padding-left: 25px;
			padding-top: 9px;

			a {
				font-size: 1rem;
			}

			a:hover {
				color: rgb(19, 19, 19);
				font-weight: 700;
			}
		}
	}

	// below 1024px
	@media (max-width: 1024px) {
		&__menu {
			hr {
				border-top: 1px hsl(0, 0%, 94%) solid;
			}
		}

		&__cta-buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.dropdown-menu {
			&.show {
				/* for drawer view restore default position so it does'nt overlap, it pushes elements below it down */
				position: static;
				padding: 0;
				background-color: hsl(0, 0%, 94%);
				margin-top: 11px;
				width: 100%;
				height: 100%;
				padding-top: 15px;
				padding-bottom: 10px;
				margin-bottom: 28px;
			}

			li {
				padding-top: 0;
				padding-left: 0;
			}
		}
	}
}
